.all-right-items{ display: none; }
#text, #txt, .mobile-bar, .mobile-bottom { display: none; }



.all-left-items{ width: 70px; }


.posts{
    position: absolute;
    top: 5%;

}

#home-icon{

    display: flex;
    position: absolute;
    left: 20px;
    top: 2.5em;
    width: 10px;

}

.menu{

    position: absolute;
    margin: 0;
    padding:50px 10px 30px 10px;
    right: 27%;
    width: 20px;
    top: 10%;

}

.men{

    padding-bottom: 20px;
    width: 25px;
    height: 30px;
}

.bar{
    position: absolute;
    bottom: 10%;
    left: 30%;
    width: 30px;
}

